<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amime</title>
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>
        <div class="search-container">
            <h1 style="font-size: 70px">anime.<span style="color: palevioletred">retro</span></h1>
            <form action="/search" method="get" id="searchForm">
                <!-- <label for="search">Search:</label> -->
                <input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Search..."
                    class="search-bar"
                    required
                />
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <script src="/search.js"></script>
    </body>
</html>
