.results-container {
    display: block;
    text-align: center;
    padding: 20px;
}

.card {
    border: 2px solid #444;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    transition: transform 0.2s;
    text-align: center;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    /* color: paleturquoise; */
    display: block;
}

.card img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
